
.expandedTop {
  width: 75%;
  border: solid black 1px;
  border-bottom: 0;
  background-color: rgba(0, 0, 0, 0.253);
}

.expandedBottom { 
  width: 75%;
  border: solid black 1px;
  border-top: 0;
  background-color: rgba(0, 0, 0, 0.253);
}
